.home{
    padding: 0;
}
.home .slide1{
    background: url(../../assets/images/nbg1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.home .slide2{
    background: url(../../assets/images/nbg2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.home .swiper-slide{
    position: relative;
}
.home .swiper-slide .content{
    position: absolute;
    transform: translate(20%,50%);
    max-width: 550px;
}
.home h1{
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: 800;
    color: var(--color-primary);
}

.home .content p{
    margin: 2rem 0 1rem;
    color: #ebe1f0;
    font-size: 1.2rem;

}
.home .home-search input{
    height: 4rem;
    width: 25rem;
    border-radius: 3rem;
    padding: 1rem 1.6rem;
    padding-left: 1.9rem;
    font-size: 1rem;
}
.home .home-search .btn{
    padding: 1rem 1.6rem;
    height: 4rem;
    width: 4rem;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0 50% 50% 50%;
    position: relative;
    left: -4rem;
    background: var(--color-secondary);
    color: var(--color-primary);
}
.home-search .lnr{
    font-size: 1rem;
    font-weight: 700;
}
.home .swiper-button-next.swiper-button-disabled,
.home .swiper-button-prev.swiper-button-disabled{
    opacity: 1;
}
.home .swiper-button-next::after{
    color: var(--color-primary);
    background: var(--color-secondary);
    font-size: 2rem;
    font-weight: 900;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: absolute;
    bottom: -9rem;
    right: -3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .swiper-button-prev::after{
    color: var(--color-primary);
    background: var(--color-secondary);
    font-size: 2rem;
    font-weight: 900;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: absolute;
    bottom: -9rem;
    left: -3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:660px){
    .home h1{
        font-size: 3rem;
    }
    .container{
        width: var(--width-sm);
    }
    .home .swiper-slide .content{
        transform: translate(0,70%);
        text-align: center;
    }
    .home .content p{
        margin: 1rem .5rem;
    }
    .home .home-search input{
        height: 3rem;
        width: 18rem;
    }
    .home .home-search .btn{
        height: 3rem;
        width: 3rem;
        padding: 1rem;
        left: -3rem;
        top: .09rem;
    }
    .home .swiper-button-next::after,
    .home .swiper-button-prev::after{
       top: -15rem;
    }
}